<div
  id="toast-success"
  class="transition d-none transform duration-1000 absolute bottom-5 right-5 flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 text-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800" 
  role="alert"
  data-controller="notifications"
>
</div>
